.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.logo img{
	height:300px;
	width:auto;
}

.video {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.video iframe{
	width:"1120";
	height:auto;
}