.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.logo img{
	height:100px;
	width:auto;
}

.video {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.video iframe{
	width:1120px;
	height:630px;
}

.socials {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.socials img{
	height:100px;
	width:auto;
}